UNO_Cliente/UNO_Client/Connected Services/Proxy/UNOServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UNOServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILoginServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4100/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNO_DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILoginServices_IsLogged_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLogged" />
  </wsdl:message>
  <wsdl:message name="ILoginServices_IsLogged_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLoggedResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginServices_LoginVerification_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoginVerification" />
  </wsdl:message>
  <wsdl:message name="ILoginServices_LoginVerification_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoginVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SearchPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SearchPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_PlayerAlreadyExist_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayerAlreadyExist" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_PlayerAlreadyExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayerAlreadyExistResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_AddNewPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_AddNewPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_DeletePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_DeletePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ModifyPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ModifyPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetAllPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayers" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetAllPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_RegisterPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_CheckPlayerVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerVerification" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_CheckPlayerVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_VerifyPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_VerifyPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetPlayersResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GetPlayersResponse_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_VerifyPlayerRegistration_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:VerifyPlayerRegistration" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_VerifyPlayerRegistration_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:VerifyPlayerRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginServices">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginServices/Login" message="tns:ILoginServices_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLogged">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginServices/IsLogged" message="tns:ILoginServices_IsLogged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginServices/IsLoggedResponse" message="tns:ILoginServices_IsLogged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginVerification">
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginServices/LoginVerification" message="tns:ILoginServices_LoginVerification_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginServices/LoginVerificationResponse" message="tns:ILoginServices_LoginVerification_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPlayerManager">
    <wsdl:operation name="SearchPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/SearchPlayer" message="tns:IPlayerManager_SearchPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/SearchPlayerResponse" message="tns:IPlayerManager_SearchPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerAlreadyExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/PlayerAlreadyExist" message="tns:IPlayerManager_PlayerAlreadyExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/PlayerAlreadyExistResponse" message="tns:IPlayerManager_PlayerAlreadyExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/AddNewPlayer" message="tns:IPlayerManager_AddNewPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/AddNewPlayerResponse" message="tns:IPlayerManager_AddNewPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/DeletePlayer" message="tns:IPlayerManager_DeletePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/DeletePlayerResponse" message="tns:IPlayerManager_DeletePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/ModifyPlayer" message="tns:IPlayerManager_ModifyPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/ModifyPlayerResponse" message="tns:IPlayerManager_ModifyPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/GetAllPlayers" message="tns:IPlayerManager_GetAllPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/GetAllPlayersResponse" message="tns:IPlayerManager_GetAllPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/RegisterPlayer" message="tns:IPlayerManager_RegisterPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/CheckPlayerVerification" message="tns:IPlayerManager_CheckPlayerVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/CheckPlayerVerificationResponse" message="tns:IPlayerManager_CheckPlayerVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/VerifyPlayer" message="tns:IPlayerManager_VerifyPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/VerifyPlayerResponse" message="tns:IPlayerManager_VerifyPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/GetPlayersResponse" message="tns:IPlayerManager_GetPlayersResponse_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/GetPlayersResponseResponse" message="tns:IPlayerManager_GetPlayersResponse_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyPlayerRegistration">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/VerifyPlayerRegistration" message="tns:IPlayerManager_VerifyPlayerRegistration_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/VerifyPlayerRegistrationResponse" message="tns:IPlayerManager_VerifyPlayerRegistration_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILoginServices" type="tns:ILoginServices">
    <wsp:PolicyReference URI="#NetTcpBinding_ILoginServices_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ILoginServices/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsLogged">
      <soap12:operation soapAction="http://tempuri.org/ILoginServices/IsLogged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginVerification">
      <soap12:operation soapAction="http://tempuri.org/ILoginServices/LoginVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPlayerManager" type="tns:IPlayerManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SearchPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SearchPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerAlreadyExist">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/PlayerAlreadyExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/AddNewPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/DeletePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/ModifyPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetAllPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/RegisterPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerVerification">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/CheckPlayerVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/VerifyPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersResponse">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GetPlayersResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPlayerRegistration">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/VerifyPlayerRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UNOServices">
    <wsdl:port name="NetTcpBinding_ILoginServices" binding="tns:NetTcpBinding_ILoginServices">
      <soap12:address location="net.tcp://localhost:4101/UNO_Server" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4101/UNO_Server</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-JQOMREJ\olver</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPlayerManager" binding="tns:NetTcpBinding_IPlayerManager">
      <soap12:address location="net.tcp://localhost:4101/UNO_Server" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4101/UNO_Server</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-JQOMREJ\olver</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>