UNO_Cliente/UNO_Client/Connected Services/LoginServicesProxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UNO_DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNO_DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="avatarImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="isBanned" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isLogged" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastnames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>