UNO_Client/Connected Services/Proxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UNO_DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UNO_DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="BanReports" nillable="true" type="tns:ArrayOfBanReport" />
      <xs:element minOccurs="0" name="FriendLists" nillable="true" type="tns:ArrayOfFriendList" />
      <xs:element minOccurs="0" name="FriendLists1" nillable="true" type="tns:ArrayOfFriendList" />
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="avatarImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="isBanned" type="xs:boolean" />
      <xs:element minOccurs="0" name="isLogged" type="xs:boolean" />
      <xs:element minOccurs="0" name="isVerified" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastnames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="verificationToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfBanReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BanReport" nillable="true" type="tns:BanReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBanReport" nillable="true" type="tns:ArrayOfBanReport" />
  <xs:complexType name="BanReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_idPlayer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hour" type="ser:duration" />
      <xs:element minOccurs="0" name="idBanReport" type="xs:int" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BanReport" nillable="true" type="tns:BanReport" />
  <xs:complexType name="ArrayOfFriendList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendList" nillable="true" type="tns:FriendList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendList" nillable="true" type="tns:ArrayOfFriendList" />
  <xs:complexType name="FriendList">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_idFriend" type="xs:int" />
      <xs:element minOccurs="0" name="FK_idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Player1" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="requestAccepted" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendList" nillable="true" type="tns:FriendList" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_idLobby" type="xs:int" />
      <xs:element minOccurs="0" name="FK_idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="Lobby" nillable="true" type="tns:Lobby" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="position" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="score" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="Lobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_idGameMode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GameMode" nillable="true" type="tns:GameMode" />
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="idLobby" type="xs:int" />
      <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matchDuration" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lobby" nillable="true" type="tns:Lobby" />
  <xs:complexType name="GameMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lobbies" nillable="true" type="tns:ArrayOfLobby" />
      <xs:element minOccurs="0" name="idGameModes" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameMode" nillable="true" type="tns:GameMode" />
  <xs:complexType name="ArrayOfLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lobby" nillable="true" type="tns:Lobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobby" nillable="true" type="tns:ArrayOfLobby" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
</xs:schema>